.sider {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.content {
  padding: 15px 40px;
  min-height: 100vh;
}

.additional {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
